---
import SiteLayout from "@/components/layouts/SiteLayout.astro";

const navs = [
	{ text: "Tabs", href: "/tabs-page" },
	{ text: "Slide", href: "/slide-page" },
];
---

<SiteLayout>
	<h1 class="asp-page-title mb-8">Astro + Svelte playground</h1>
	<ul class="list-disc pl-5 text-teal-700 text-lg">
		{/* 
			Known issue: JSX array breaks prettier-plugin-astro
			@link https://github.com/withastro/prettier-plugin-astro/issues/115
		*/}
		{navs.map((item) => (
			<li>
				<a class="border-b hover:border-teal-400" href={item.href}>{item.text}</a>
			</li>
		))}
	</ul>
</SiteLayout>
