---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
---

<SiteLayout>
	<h1 class="text-4xl font-semibold">Astro + Svelte playground</h1>
	<ul>
		<li>
			<a href="/tabs-page">Tabs</a>
		</li>
		<li>
			<a href="/slide-page">Slide</a>
		</li>
	</ul>
</SiteLayout>
