---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import MySvelteSplide from "@/components/MySvelteSplide.svelte";
---

<SiteLayout>
	<h1>Hello slide!</h1>
	<MySvelteSplide client:load />
</SiteLayout>
