---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import MySvelteSplide from "@/components/MySvelteSplide.svelte";
---

<SiteLayout>
	<h1 class="asp-page-title mb-8">Slide component example</h1>
	<MySvelteSplide
		client:load
		images={[
			{
				src: "https://images.unsplash.com/photo-1653450283266-c788c2ca4ab2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800",
			},
			{
				src: "https://images.unsplash.com/photo-1649330944677-427f4e9d3c4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800",
			},
		]}
	/>
</SiteLayout>
