---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import MySvelteTabs from "@/components/MySvelteTabs.svelte";
---

<SiteLayout>
	<h1 class="asp-page-title mb-8">Tabs component example</h1>
	<MySvelteTabs client:load />
</SiteLayout>
