---
import SiteLayout from "@/components/layouts/SiteLayout.astro";
import MySvelteTabs from "@/components/MySvelteTabs.svelte";
---

<SiteLayout>
	<h1>Hello tabs!</h1>
	<MySvelteTabs client:load />
</SiteLayout>
